html {
  scroll-behavior: smooth;
  scroll-padding: 12px;
}

.question-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box-skeleton-cards {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f3ccf3;
  height: 4rem;
}

.page-btn-group {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
