html {
  scroll-behavior: smooth;
}

.question-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box-skeleton-cards {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: var(--radius-md);
  background: var(--bg-accent-soft);
  height: 4rem;
}

.page-btn-group {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
