.fp-outer-container {
  min-height: 100%;
  height: auto;
  max-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.fp-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 10px;
  box-shadow: 0 14px 28px rgba(121, 108, 108, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  width: 55rem;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.fp-details-box {
  width: 20rem;
}

.fp-box-heading {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.fp-box-text {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.fp-box-label {
  font-weight: 600;
}

.fp-box-input {
  margin-bottom: 50px;
}

.fp-btn-group {
  text-align: center;
}

.custom-btn {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.google-btn-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  gap: 10px;
  font-weight: 600;
}

.fp-box-btn {
  background: #f3ccf3;
  color: white;
  font-weight: 500;
}

.fp-box-btn:hover {
  background: linear-gradient(to right, #d8b4f8, #f3ccf3);
}

.custom-btn:active {
  transform: translateY(2px);
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Styles for medium screens go here */

  .fp-grid {
    width: 40rem;
  }

  .fp-details-box {
    width: 15rem;
  }

  .google-btn-text {
    font-size: 13px;
    gap: 5px;
  }

  .fp-box-heading {
    font-size: 1rem;
  }

  .fp-box-text {
    font-size: 0.8rem;
    margin-bottom: 20px;
  }

  .fp-box-label {
    font-size: 0.8rem;
  }

  .fp-box-input {
    margin-bottom: 30px;
  }

  .fp-btn-group {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  /* Styles for small screens go here */
  .fp-grid {
    grid-template-columns: 1fr;
  }

  .fp-img-box {
    display: none;
  }
}
