.result-container {
  background: wheat;
  min-height: 100vh;
  height: auto;
  max-height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-center-box {
  background-color: white;
  height: auto;
  max-height: fit-content;
  width: 55rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.result-back-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}
