.user_access--container {
  min-height: 60dvh;
  height: auto;
  max-height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: #fff7d4;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box--content {
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.box--button {
  background: none;
  font-size: 15px;
  color: #ff9843;
  border: 2px solid #ff9843;
  border-radius: 10px;
  padding: 12px 15px;
  font-weight: 600;
}

.box--button:hover {
  background-color: #ff9843;
  color: white;
}
