.signin-container {
  padding: 1rem 2rem;
}

.heading {
  color: #d8b4f8;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 500;
  text-decoration: underline;
  font-family: monospace;
  font-size: 2rem;
}

.input-fields--heading {
  text-align: center;
  font-weight: 500;
  font-size: 1.1rem;
  color: #45474b;
}

.box-input {
  height: 3rem;
  font-size: 1rem;
}

.forgot-password-container {
  text-align: end;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
}

.signin-buttons {
  text-align: center;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom-button {
  background-color: #f3ccf3;
  border-radius: 50px;
  color: #45474b;
  font-weight: 600;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background: linear-gradient(45deg, #f3ccf3, #d8b4f8);
}

.custom-button:active {
  transform: translateY(2px);
}

@media only screen and (max-width: 600px) {
  .signin-container {
    padding: 1rem 1rem;
  }
}
