.git-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.git-footer-text {
  display: flex;
  align-items: center;
  color: #e9a8f2;
  gap: 5px;
}

.git-footer-text:hover,
.git-footer-logo:hover {
  color: #c476cf;
}

.git-footer-logo {
  font-size: 30px;
  color: #e9a8f2;
}

@media only screen and (max-width: 600px) {
  .git-footer-container {
    padding: 10px 20px;
  }

  .git-footer-text {
    font-size: 12px;
  }

  .git-footer-logo {
    font-size: 18px;
  }
}
